<div class="max-w-4xl mx-auto mt-12 bg-gray-100 shadow-md rounded-lg p-6 space-y-6">

  <h1 class="text-2xl font-bold mb-2"><%= @business.company_name %></h1>
  <p class="text-gray-700 mb-4">CNPJ: <%= @business.cnpj %></p>

  <h2 class="text-xl font-semibold mb-2">Endereços</h2>
  <% if @business.business_addresses.any? %>
    <ul class="list-disc ml-6 space-y-1">
      <% @business.business_addresses.each do |address| %>
        <li>
          <%= address.street %>, <%= address.city %> - <%= address.state %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nenhum endereço cadastrado.</p>
  <% end %>

  <% if current_user == @business.user %>
    <div class="mt-6">
      <%= link_to "Editar Perfil", edit_business_path(@business), class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded shadow" %>
    </div>
  <% end %>

  <h2 class="text-xl font-semibold mt-6 mb-2">Cardápio</h2>
  <% if @cardapio.present? && @itens.any? %>
     <% if current_user == @business.user %>
      <div class="mt-4">
        <%= link_to "Editar Cardápio", edit_business_cardapio_path(@business), class: "bg-yellow-500 hover:bg-yellow-600 text-white px-4 py-2 rounded shadow" %>
      </div>
    <% end %>
    <ul class="list-disc ml-6 space-y-1">
      <% @itens.each do |item| %>
        <li>
          <%= item.nome %> - R$ <%= number_with_precision(item.preco, precision: 2, separator: ",") %> (<%= item.tipo == 0 ? "Comida" : "Bebida" %>)
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Cardápio não cadastrado.</p>

    <% if current_user == @business.user && !@cardapio.present?%>
      <div class="mt-4">
        <%= link_to "Criar Cardápio", new_business_cardapio_path(@business), class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded shadow" %>
      </div>
    <% end %>
  <% end %>

</div>