<div class="max-w-4xl mx-auto mt-12 bg-gray-100 shadow-md rounded-lg p-6 space-y-6">

  <div class="flex justify-between items-start">
    <div>
      <h1 class="text-2xl font-bold mb-2"><%= @business.company_name %></h1>
      <p class="text-gray-700 mb-2">
        <span class="font-semibold">Tipo:</span> 
        <span class="bg-blue-100 text-blue-800 px-2 py-1 rounded text-sm">
          <%= @business.business_type.humanize %>
        </span>
      </p>
      <p class="text-l font-bold mb-4">Rating: <%= @business.rating %>/5</p>
      <p class="text-gray-700 mb-2">CNPJ: <%= @business.cnpj %></p>
    </div>
    
    <% if current_user != @business.user %>
      <div id="follow-business-button-<%= @business.id %>">
        <%= render 'business_relationships/follow_button', business: @business %>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%= link_to 'Ver comentários', business_business_comments_path(@business), data: { turbo_frame: "business_comments_#{@business.id}" }, class: 'text-blue-600 underline' %>

    <%= turbo_frame_tag "business_comments_#{@business.id}" do %>
    <% end %>
  </div>

  <h2 class="text-xl font-semibold mb-2 flex justify-between items-center">
    Endereços
  </h2>

  <% if current_user != @business.user %>
    <div class="flex flex-wrap items-center gap-2">
      <p class="text font-bold mb-2">Rate this place: </p>
      <%= button_to "1", add_rating_path(id: @business.id, rating: 1), method: :post, id: "rating-1", class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" %>
      <%= button_to "2", add_rating_path(id: @business.id, rating: 2), method: :post, id: "rating-2", class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" %>
      <%= button_to "3", add_rating_path(id: @business.id, rating: 3), method: :post, id: "rating-3", class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" %>
      <%= button_to "4", add_rating_path(id: @business.id, rating: 4), method: :post, id: "rating-4", class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" %>
      <%= button_to "5", add_rating_path(id: @business.id, rating: 5), method: :post, id: "rating-5", class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded" %>
    </div>
  <% end %>

  <% if @addresses.any? %>
    <ul class="space-y-4">
      <% @addresses.each do |address| %>
        <li class="p-4 bg-white rounded shadow flex justify-between items-center">
          <div>
            <%= address.street %>, <%= address.city %> - <%= address.state %> (CEP: <%= address.zip %>)
          </div>
          <div class="space-x-2">
            <% if address.cardapio.present? %>
              <%= link_to "Ver Cardápio", business_business_address_cardapio_path(@business, address), class: "bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded" %>
            <% else %>
              <% if current_user == @business.user %> 
                <%= link_to "Criar Cardápio", new_business_business_address_cardapio_path(@business, address), class: "bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded" %>
              <% else %> 
                <p class="text font-bold"> No menus yet. </p>
              <% end %>
            <% end %>
          </div>
          <div class="mt-2">
            <h4 class="text-md font-semibold mb-1">Eventos</h4>
            <% if address.events.any? %>
              <ul class="mb-2">
                <% address.events.each do |event| %>
                  <li>
                    <%= link_to event.name, business_business_address_event_path(@business, address, event), class: "text-green-600 underline" %>
                    <% if event.points_rewarded.present? && event.points_rewarded > 0 %>
                      <span class="ml-2 text-yellow-600">+<%= event.points_rewarded %> pontos</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <span class="text-gray-500">Nenhum evento cadastrado.</span>
            <% end %>
            <% if current_user == @business.user %>
              <%= link_to "Gerenciar Eventos", business_business_address_events_path(@business, address), class: "bg-purple-500 text-white px-2 py-1 rounded ml-2" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nenhum endereço cadastrado.</p>
  <% end %>

  <% if current_user == @business.user %>
    <div class="mt-6">
      <%= link_to "Editar Perfil", edit_business_path(@business), class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded shadow" %>
      <%= link_to "Resumo geral", 
      summary_items_consumed_index_path, 
      class: "inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-lg shadow" %>
    </div>
  <% end %>

</div>
