<%= link_to post do %>
<div class="relative bg-white shadow-md rounded-lg overflow-hidden mb-6 hover:shadow-lg transition-transform transform hover:scale-[1.01]">
  <p class="text-2xl font-bold mb-2 p-4 text-center">
    <%= post.caption %>
  </p>

  <div class="p-6">
    <% if post.images.any? %>
      <%= image_tag(post.images.first, class: "w-full h-80 object-cover rounded-lg mb-4") %>
    <% end %>

    <p class="text-gray-800 mb-4 text-center break-words w-full">
      <%= post.feed_body %>
      <%= "..." if post.feed_body_truncated? %>
    </p>

    <div class="flex items-center space-x-2 mb-4">
      <% if post.user.profile.avatar.attached? %>
        <%= image_tag(post.user.profile.avatar, class: "w-8 h-8 rounded-full object-cover") %>
      <% end %>
      <p class="text-sm text-gray-500">
        Post by <%= link_to post.user.username, profile_path(post.user.profile), class: "text-blue-500 hover:underline" %> • <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </div>

    <div class="absolute bottom-4 right-5 flex items-center space-x-2">
      <%= link_to "#{post.comments.count} comments",
            post,
            class: "text-gray-500" %>

      <%= link_to "Leave a comment",
          new_post_comment_path(post),
          class: "text-blue-500 hover:underline" %>

      <% if current_user.reactions.find_by(post: post, name: "heart").present? %>
        <% reaction = Reaction.find_by(user: current_user, post: post, name: "heart") %>
        <%= button_to "♥", post_reaction_path(id: reaction.id, post_id: post.id), method: :delete, class: "text-red-500 text-xl hover:scale-110 transition-transform" %>
      <% else %>
        <%= button_to "♡", post_reactions_path(post, name: "heart"), method: :post, class: "text-gray-400 text-xl hover:text-red-500 hover:scale-110 transition-transform" %>
      <% end %>
      <span class="text-gray-700 font-semibold"><%= post.reactions.count %></span>
    </div>
  </div>
</div>
<% end %>
