<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <div class="flex items-center mt-4 space-x-2 max-w-5xl mx-auto px-4">
    <%= f.text_field :query,
          placeholder: "Search users...",
          class: "flex-1 border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-400" %>
    <%= f.submit "Search",
          class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
    <%= button_to "Show user list",
          userindex_path,
          method: :get,
          class: "px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600" %>
  </div>
<% end %>

<!-- Please change where this is, this location is TEMPORARY -->
<%= form_with url: search_shops_url, method: :get, local: true do |f| %>
  <div class="flex items-center mt-4 space-x-2 max-w-5xl mx-auto px-4">
    <%= f.text_field :query,
          id: "search_shops_query",
          placeholder: "Search shop items...",
          class: "flex-1 border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-400" %>
    <%= f.submit "Search shops",
          class: "px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" %>
  </div>
<% end %>


<div class="bg-gray-100 min-h-screen pt-24">
  <div class="px-4 max-w-5xl mx-auto">
    
    <h1 class="text-3xl font-bold mb-6 text-center">My Feed</h1>

    <%= link_to new_post_path,
                class: "bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-blue-600 hover:shadow-lg transition transform hover:-translate-y-0.5 block mx-auto text-center mb-6" do %>
      Create new post
    <% end %>

    <% if @posts.any? %>
      <div class="grid gap-6 w-full">
        <%= render partial: "post", collection: @posts %>
      </div>
    <% else %>
      <h3 class="text-gray-500 text-center mt-12">
        Vazio aqui... Comece a seguir alguém para ver posts no seu feed!
      </h3>
    <% end %>
  </div>
</div>