<%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<%= button_to "Edit account", edit_user_registration_path, method: :get %>
<%= button_to "Go to my profile", profile_path(id: current_user.profile.id, :trailing_slash => true), method: :get %>

<%= button_to "Show user list", userindex_path, method: :get %>

<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <div class="flex items-center mt-4">
    <%= f.text_field :query, placeholder: "Search users...", class: "border rounded p-2 w-full" %>
    <%= f.submit "Search", class: "ml-2 px-4 py-2 bg-blue-500 text-white rounded" %>
  </div>
<% end %>

<% if user_signed_in? && current_user.type != "BusinessUser" %>
  <%= link_to "É uma empresa? Cadastre-se aqui", new_business_registration_path, class: "btn btn-outline-primary" %>
<% elsif user_signed_in? && current_user.type == "BusinessUser" && current_user.try(:business).present? %>
  <%= link_to "Editar perfil empresarial", edit_business_registration_path, class: "btn btn-outline-primary" %>
<% end %>

<div class="fle flex-col items-center pt-24">
    <h1>My Feed</h1>

    <div class="mt-6 max-w-2xl w-full mx-auto flex items-center justify-between">
        <%= link_to "Create new post", new_post_path %>
    </div>

    <div class="max-w-5xl w-full grid gap-8 mt-8">
        <%= render partial: "post", collection: @posts %>
    </div>
</div>