<div id="<%= dom_id profile %>">

  <p>
    <div><%= image_tag(profile.header, :size => "800x200") if profile.header.attached? %></div>
  </p>

  <h2>
    <%= profile.user.username %>
  </h2>
  
  <p>
    <div><%= image_tag(profile.avatar, :size => "150x160") if profile.avatar.attached? %></div>
  </p>

  <p>
    <%= profile.user.friendships.count %> following
  </p>

  <p>
    <%= Friendship.where(other_user_id: profile.user.id).count %> followers
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  

</div>

<div>
<% if current_user != profile.user %>
  <% if current_user.friendships.find_by(other_user_id: profile.user.id).present? %>
    <%= button_to "Unfollow this person", friendship_path(user_id: profile.user.id), method: :delete %>
  <% else %>
    <%= button_to "Follow this person", friendships_path(user_id: profile.user.id), data: {turbo_method: :post} %>
  <% end %>
  <% end %>
</div>