<div class="w-full flex flex-col items-center pt-24">
  <div class="max-w-5xl w-full mx-auto">
    <%= turbo_frame_tag :comments do %>
      <%= form_with model: [@post, @post.comments.new] do |f| %>
        <div>
          <%= f.label :body, style: "display: block" %>
          <%= f.rich_text_area :body, direct_upload: true %>
        </div>
        <div>
          <%= f.submit "Post comment" %>
          <%= link_to "Cancel", "/" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
