
<div class="business-address-fields">
  <div>
    <%= f.label :street, "Rua" %>
    <%= f.text_field :street %>
  </div>
  <div>
    <%= f.label :city, "Cidade" %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state, "Estado" %>
    <%= f.text_field :state %>
  </div>
  <div>
    <%= f.label :zip, "CEP" %>
    <%= f.text_field :zip %>
  </div>
  <!-- button type="button" class="remove-address btn btn-outline-danger">Remover endereço</button -->
</div>
