<%= form_with model: @business, url: @business.persisted? ? business_registration_path : business_registration_path, local: true, method: @business.persisted? ? :patch : :post do |f| %>
  <div>
    <%= f.label :company_name, "Nome da Empresa" %>
    <%= f.text_field :company_name %>
  </div>

  <div>
    <%= f.label :cnpj, "CNPJ" %>
    <%= f.text_field :cnpj %>
  </div>

  <h3>Endereço</h3>
  <div id="addresses-container">
    <%= f.fields_for :business_addresses do |address_fields| %>
      <%= render 'business_address_fields', f: address_fields %>
    <% end %>
  </div>

  <!-- button type="button" id="add-address" class="btn btn-outline-primary mt-2">Adicionar endereço</button -->

  <%= f.submit @business.persisted? ? "Atualizar Perfil" : "Cadastrar como Empresa", class: "btn btn-primary mt-3" %>
<% end %>
